# Project's User
DB_USER=App_DB_User
DB_PASS=
DB_HOST=webapp.rcexxoq.mongodb.net
DB_NAME=Instagram_db

# Project's Address
MONGO_URI=mongodb+srv://App_DB_User:sfuJGSoi%24%40%26hdbHUD761%24%25%24@webapp.rcexxoq.mongodb.net/Instagram_db

# Project's Encrypted Session Key
SESSION_SECRET=

# AES-256 Encryption Key for sensitive fields (usernames etc.)
ENCRYPTION_KEY=

# Git access token
GIT_ACCESS_TOKEN=
# Twitter
TWITTER_API_KEY=
TWITTER_API_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_SECRET=