.feed-advanced-search-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100vh;
    background-color: #ffffff;
    z-index: 15;
    transition: transform 0.3s ease-in-out;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.feed-advanced-search-panel.hidden-panel {
    transform: translateX(-100%);
    box-shadow: none;
}