
.story-avatar {
  width: 74px;
  height: 74px;
  box-sizing: content-box; /* Don't include border in the size of the avatar */
  object-fit: cover;
}

.profile-circle {
  border-radius: 50%;
  padding: 2px;
}

.profile-circle img {
    border: 2px solid white;
    padding: 0;
}


.post-profile-pic{
    width: 32px;
    height: 32px;
    object-fit: cover;
}